<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="messageGroup">
      <section name="messageConfiguration" type="CustomConfigOverrideTesting.MessageSection, CustomConfigOverrideTesting" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <messageGroup>
    <messageConfiguration>
      <connections defaultLogMessagePayload="false" defaultBrokerUrl="tcp://test01:2300">
        <connection name="CrmConnection" brokerUrl="tcp://testcrm02:2400">
          <producers>
            <producer name="CRM_SALES" clientId="CRM_SALES">
              <topics>
                <topic name="SALES.PRODUCT.X"/>
                <topic name="SALES.PRODUCT.Y"/>
              </topics>
            </producer>
          </producers>
          <subscribers>
            <subscriber name="SALES_PRODUCT_X" clientId="SALES_PRODUCT_X" retryTime="300" messageType="XML" noOfSharedSubscribers="4">
              <topics>
                <topic name="SALES.PRODUCT.X" logMessagePayload="true"/>
              </topics>
            </subscriber>
            <subscriber name="SALES_PRODUCT_Y" clientId="SALES_PRODUCT_Y" retryTime="300" messageType="XML" noOfSharedSubscribers="4">
              <topics>
                <topic name="SALES.PRODUCT.Y"/>
              </topics>
            </subscriber>
          </subscribers>
        </connection>
        <connection name="OrdersConnection" logMessagePayload="true">
          <producers>
            <producer name="ORDER_SYSTEM" clientId="ORDER_SYSTEM">
              <topics>
                <topic name="ORDER.UPDATE" />
              </topics>
            </producer>
          </producers>
          <subscribers>
            <subscriber name="CRM_SALES" clientId="CRM_SALES">
              <topics>
                <topic name="ORDER.UPDATE"/>
              </topics>
            </subscriber>
          </subscribers>
        </connection>
      </connections>
    </messageConfiguration>
  </messageGroup>
</configuration>